<a (click)="_location.back()">&lt; go back</a>
<form class="ink-form">
  <div class="column-group gutters">
    <div class="control-group all-100">
      <label for="name">Name</label>
      <div class="control">
        <input type="text" name="name" id="name" [(ngModel)]="city.name">
      </div>
    </div>
  </div>

  <button class="ink-button blue" type="button" *ngIf="isNew" (click)="createCity()">Create</button>
  <button class="ink-button blue" type="button" *ngIf="!isNew" (click)="saveCity()">Save</button>


  <button class="ink-button red" type="button" (click)="delete()" *ngIf="!isNew">Delete</button>
</form>