<h3>Users</h3>
<button class="ink-button blue" routerLink="/admin/users/0">Add User</button>
<table class="ink-table hover alternate">
  <thead>
    <tr>
      <th class="align-left">ID</th>
      <th class="align-left">Email</th>
      <th class="align-left">Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td><a [routerLink]="['/admin/users', user.id]">{{ user.id | slice:0:8 }}..</a></td>
      <td>{{ user.email }}</td>
      <td>{{ user.admin? 'Yes': 'No' }}</td>
    </tr>
  </tbody>
</table>
<app-pagination></app-pagination>