.container {
  width: 100%;
  height: 100vh;
  background: url('https://images.pexels.com/photos/1310788/pexels-photo-1310788.jpeg?cs=srgb&dl=architecture-art-classic-1310788.jpg&fm=jpg');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  border-radius: 4px;
  padding: 1em;
}
