<div class="container">

  <div class="card">
    <h3>Login</h3>

    <form class="ink-form">
      <div class="column-group gutters">
        <div class="control-group all-100">
          <label for="name">Email</label>
          <div class="control">
            <input type="text" name="name" id="name" [(ngModel)]="user.email">
          </div>
        </div>
        <div class="control-group all-100">
          <label for="password">Password</label>
          <div class="control">
            <input type="password" name="password" id="password" [(ngModel)]="user.password">
          </div>
        </div>
      </div>

      <button class="ink-button blue" type="button" (click)="login()">Login</button>
    </form>
  </div>
</div>