<div class="ink-grid">
  <header>
    <h1>Admin</h1>
    <nav class="ink-navigation">
      <ul class="menu horizontal black">
        <li *ngFor="let item of nav_items"><a [routerLink]="item.path">{{ item.name }}</a></li>
        <li style="float: right;"><a (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>