<h3>Parties</h3>
<button class="ink-button blue" routerLink="/admin/parties/0">Add Party</button>
<table class="ink-table hover alternate">
  <thead>
    <tr>
      <th class="align-left">ID</th>
      <th class="align-left">Name</th>
      <th class="align-left">City</th>
      <th class="align-left">Parent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let party of parties$ | async">
      <td><a [routerLink]="['/admin/parties', party.id]">{{ party.id | slice:0:8 }}..</a></td>
      <td>{{ party.name }}</td>
      <td>{{ party.city.name }}</td>
      <td>{{ party.parent? 'Yes': 'No' }}</td>
    </tr>
  </tbody>
</table>
<app-pagination></app-pagination>