<nav class="ink-navigation">
  <ul class="pagination black">
    <li class="disabled"><a>Previous</a></li>
    <li class="active"><a>1</a></li>
    <li><a>2</a></li>
    <li><a>3</a></li>
    <li><a>Next</a></li>
  </ul>
</nav>