<a (click)="_location.back()">&lt; go back</a>
<form class="ink-form">
  <div class="column-group gutters" *ngIf="party">

    <!-- NAME -->
    <div class="control-group all-100">
      <label for="name">Name</label>
      <div class="control">
        <input type="text" name="name" id="name" [(ngModel)]="party.name">
      </div>
    </div>

    <!-- CITY -->
    <div class="control-group all-100">
      <label for="name">City</label>
      <ng-select [selectOnTab]="true" [items]="cities$ | async" bindLabel="name" bindValue="id" name="cityId"
        [(ngModel)]="party.cityId"></ng-select>
    </div>

    <!-- PARENT -->
    <div class="control-group all-100">
      <input type="checkbox" id="enableParent" [checked]="party.parentId" (change)="addParent = !addParent" />
      <label for="enableParent">Parent Party</label>
      <ng-select [selectOnTab]="true" [items]="parents$ | async" bindLabel="name" bindValue="id" name="nameId"
        [disabled]="!addParent" [(ngModel)]="party.parentId">
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          {{ item.name }} - {{ item.city.name }}
        </ng-template>
      </ng-select>
    </div>
  </div>

  <button class="ink-button blue" type="button" *ngIf="isNew" (click)="create()">Create</button>
  <button class="ink-button blue" type="button" *ngIf="!isNew" (click)="save()">Save</button>

  <button class="ink-button red" type="button" (click)="delete()" *ngIf="!isNew">Delete</button>
</form>