<div class="column-group gutters">
  <div class="all-50">
    <app-party></app-party>
  </div>
  <div class="all-50">
    <app-city></app-city>
  </div>
  <div class="all-50">
    <app-users></app-users>
  </div>
</div>