<a (click)="_location.back()">&lt; go back</a>
<form class="ink-form form-bg">
  <div class="column-group gutters" *ngIf="user">

    <!-- FIRST NAME -->
    <div class="control-group all-50">
      <label for="firstname">Firstname</label>
      <div class="control">
        <input type="text" name="firstname" id="firstname" [(ngModel)]="user.firstname">
      </div>
    </div>

    <!-- LAST NAME -->
    <div class="control-group all-50">
      <label for="lastname">Lastname</label>
      <div class="control">
        <input type="text" name="lastname" id="lastname" [(ngModel)]="user.lastname">
      </div>
    </div>

    <!-- EMAIL -->
    <div class="control-group all-100">
      <label for="email">Email</label>
      <div class="control">
        <input type="text" name="email" id="email" [(ngModel)]="user.email">
      </div>
    </div>

    <!-- IS ADMIN -->
    <div class="control-group all-100">
      <input type="checkbox" id="setAdmin" [checked]="user.admin" (change)="user.admin = $event.target.checked" />
      <label for="setAdmin">Admin</label>
    </div>



    <!-- PARTY -->
    <div class="control-group all-100">
      <input type="checkbox" id="enableParty" [checked]="user.partyId" (change)="hasParty = !hasParty" />
      <label for="enableParty">Party</label>
      <ng-select [selectOnTab]="true" [items]="parties$ | async" bindLabel="name" bindValue="id" name="partyId"
        [disabled]="!hasParty" [(ngModel)]="user.partyId">
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          {{ item.name }} - {{ item.city.name }}
        </ng-template>
      </ng-select>
    </div>
  </div>

  <button class="ink-button blue" type="button" *ngIf="isNew" (click)="create()">Create</button>
  <button class="ink-button blue" type="button" *ngIf="!isNew" (click)="save()">Save</button>

  <button class="ink-button red" type="button" (click)="delete()" *ngIf="!isNew">Delete</button>
</form>