@import 'assets/ink-3.1.10/css/ink-flex.min.css';
@import '~@ng-select/ng-select/themes/default.theme.css';
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.ink-form {
  background: #ececec;
  padding: 1em;
}
