<h3>Cities</h3>
<button class="ink-button blue" routerLink="/admin/cities/0">Add City</button>
<table class="ink-table hover">
  <thead>
    <tr>
      <th class="align-left">ID</th>
      <th class="align-left">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities$ | async">
      <td><a [routerLink]="['/admin/cities', city.id]">{{ city.id | slice:0:6 }}..</a></td>
      <td>{{ city.name }}</td>
    </tr>
  </tbody>
</table>
<app-pagination></app-pagination>